/* Conteneur principal de la barre de recherche */
.search-bar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* Champ de saisie */
.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1rem;
}

/* Résultats de la recherche */
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.search-result-item {
  padding: 10px;
  color: #ffffff;
}

.search-result-link {
  color: #FFC107;
  text-decoration: none;
  transition: color 0.3s;
}

.search-result-link:hover {
  color: #FFD54F;
}
