<div class="flex flex-col items-center min-h-screen overflow-x-hidden p-6 dark:bg-gray-900 dark:text-white">
  <div class="flex flex-col lg:flex-row gap-4">
    <div class="w-full rounded-lg shadow-lg">
      <div class="bg-white dark:bg-gray-800 dark:text-white rounded-lg shadow-lg w-full">
        <div class="p-4">
          <h2 class="text-xl font-bold">{{ manga?.name }}</h2>
        </div>
        <div class="flex gap-4 p-6">
          <div class="flex-none">
            <img [src]="manga?.image" alt="{{ manga?.name }}" class="w-full h-auto rounded-lg" />
          </div>
          <div class="flex flex-col flex-1 gap-2">
            <h2 class="text-lg font-semibold">Author:</h2>
            <p>{{ manga?.author }}</p>

            <h2 class="text-lg font-semibold">Info:</h2>
            <p>Type : {{ manga?.type }} </p> 
            <p>Status : {{ manga?.status }} </p>
            <p>Publication Year : {{ manga?.publicationYear }} </p>
            <p>Rating : {{ manga?.rating }} / 5</p>

            <h2 class="text-lg font-semibold">Different Names:</h2>
            <p>{{ manga?.variousName }}</p>
            
            <h2 class="text-lg font-semibold">Description:</h2>
            <p>{{ manga?.description }}</p>

            <div class="mt-auto flex justify-end">
              <button class="bg-gray-200 dark:bg-gray-700 dark:text-white text-black px-4 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-600" (click)="IsBookmarked(manga?.slug)" *ngIf="this.authService.isLoggedIn()">
                <span class="material-icons">bookmark</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-4xl mt-6 p-5">
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white dark:bg-gray-800">
        <thead>
          <tr>
            <th class="px-4 py-2 border-b dark:border-gray-700 text-center">No</th>
            <th class="px-4 py-2 border-b dark:border-gray-700 text-center">Chapter</th>
            <th class="px-4 py-2 border-b dark:border-gray-700 text-center">Updated At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chapter of dataSource.data; let i = index" [routerLink]="['/manga/view', manga?.slug, 'chapter', chapter.slug]" class="hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer">
            <td class="px-4 py-2 border-b dark:border-gray-700 text-center">{{ i + 1 }}</td>
            <td class="px-4 py-2 border-b dark:border-gray-700 text-center">{{ chapter.name }}</td>
            <td class="px-4 py-2 border-b dark:border-gray-700 text-center">{{ chapter.updated_at | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="w-full max-w-4xl mt-6 p-5 bg-white dark:bg-gray-800 rounded-lg shadow-lg">

    <h3 class="text-xl font-semibold mb-4">Commentaires</h3>

    <form [formGroup]="commentForm" (ngSubmit)="addComment(manga?.slug)" class="flex flex-col gap-4" *ngIf="this.authService.isLoggedIn()">
      <textarea formControlName="content" placeholder="Ajouter un commentaire" class="w-full p-2 border rounded-lg dark:bg-gray-700 dark:text-white"></textarea>
      <button type="submit" [disabled]="commentForm.invalid" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 disabled:opacity-50">Envoyer</button>
    </form>

    <div *ngFor="let comment of comments" class="mt-4">
      <app-comment [comment]="comment" [mangaSlug]="manga?.slug ?? null"></app-comment>
    </div>
    
  
  </div>
    
</div>
