<div class="mangas-page-container flex flex-col items-center min-h-screen overflow-x-hidden p-6">
  <div class="content-wrapper flex flex-col lg:flex-row gap-4">
    <div class="manga-card w-full rounded-lg shadow-lg">
      <mat-card class="manga-card-content">
        <mat-card-header>
          <mat-card-title>{{ manga?.name }}</mat-card-title>
        </mat-card-header>
        <div class="card-content-container flex gap-4 p-6">
          <div class="large flex-none w-1/3 max-w-sm">
            <img mat-card-image [src]="manga?.image" alt="{{ manga?.name }}" class="manga-image" />
          </div>
          <div class="right flex flex-col flex-1 gap-2">
            <h2>Manga Different Names:</h2>
            <p>{{ manga?.variousName }}</p>
            <h2>Manga Description:</h2>
            <p>{{ manga?.description }}</p>
            <mat-card-actions class="mt-auto flex justify-end">
              <button class="bg-zinc-200 text-black px-4 py-2 rounded hover:bg-zinc-300"
              (click)="addtoFavoris(manga?.slug)">
                <mat-icon>bookmark</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="table-wrapper w-full max-w-4xl mt-6 p-5">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="chapter">
        <th mat-header-cell *matHeaderCellDef> Chapter </th>
        <td mat-cell *matCellDef="let chapter"> {{chapter.name}} </td>
      </ng-container>
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef> Updated at </th>
        <td mat-cell *matCellDef="let chapter"> {{chapter.updated_at | date}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/manga/view', manga?.slug, 'chapter', row.slug]" class="hover:cursor-pointer"></tr>
    </table>
  </div>
</div>