.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Sépare le logo et la barre de recherche */
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}


mat-icon[matSuffix] {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: white;
}

