<div class="py-10">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">

  
      <!-- Checkbox Filters -->
        <div class="top-12 left-0 z-10 bg-white border border-gray-300 dark:bg-gray-800 dark:border-none shadow-lg rounded-lg p-4 space-y-4 ">
          <h2 class="text-center text-red-600 dark:text-red-400">FILTERS</h2>
          
          <div class="flex flex-wrap justify-around p-5 ">

          <div class="">
            <h3 class="text-lg font-semibold mb-2 text-red-600 dark:text-red-400">Status</h3>
              <div *ngFor="let status of StatusEnum" class="flex items-center ">
                <input 
                  type="checkbox" 
                  [formControl]="statusControl" 
                  [value]="status" 
                  (change)="handleCheckboxChange($event, 'status')" 
                  class="mr-2"
                />
                <label class="text-gray-700 dark:text-white ">{{ status }}</label>
              </div>
          </div>
      
          <!-- Types -->
          <div class="">
            <h3 class="text-lg font-semibold mb-2 text-red-600 dark:text-red-400">Types</h3>
              <div *ngFor="let type of TypesEnum" class="flex items-center">
                <input 
                  type="checkbox" 
                  [formControl]="typeControl" 
                  [value]="type" 
                  (change)="handleCheckboxChange($event, 'type')" 
                  class="mr-2"
                />
                <label class="text-gray-700 dark:text-white">{{ type }}</label>
              </div>
          </div>
      
          <!-- Genres -->
          <div class="">
            <h3 class="text-lg font-semibold mb-2 text-red-600 dark:text-red-400">Genres</h3>
              <div *ngFor="let genre of GenresEnum" class="flex items-center">
                <input 
                  type="checkbox" 
                  [formControl]="genreControl" 
                  [value]="genre" 
                  (change)="handleCheckboxChange($event, 'genre')" 
                  class="mr-2"
                />
                <label class="text-gray-700 dark:text-white">{{ genre }}</label>
              </div>
          </div>
      
          <!-- Languages -->
          <div class="">
            <h3 class="text-lg font-semibold mb-2 text-red-600 dark:text-red-400">Languages</h3>
              <div *ngFor="let language of LanguagesEnum" class="flex items-center">
                <input 
                  type="checkbox" 
                  [formControl]="languageControl" 
                  [value]="language" 
                  (change)="handleCheckboxChange($event, 'language')" 
                  class="mr-2 "
                />
                <label class="text-gray-700 dark:text-white">{{ language }}</label>
              </div>
          </div>
        </div>
      </div>    
    
 
    <section class="mt-8">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div 
          class="bg-white dark:bg-gray-800 dark:text-white rounded-lg shadow-lg p-4 sm:p-6 lg:p-8 hover:cursor-pointer" 
          *ngFor="let manga of mangas" 
          [routerLink]="['/manga/view', manga.slug]"
        >
          <div class="mb-4">
            <h3 class="text-lg sm:text-xl lg:text-2xl font-bold">{{ manga.name }}</h3>
          </div>
          <img 
            [src]="manga.image" 
            alt="{{ manga.name }}" 
            class="w-2/3 h-48 sm:h-56 lg:h-64 object-cover rounded-lg mb-4" 
          />
          <div>
            <div *ngFor="let chapter of getLastChapters(manga)">
              <div 
                [routerLink]="['/manga/view', manga.slug, 'chapter', chapter.slug]" 
                class="text-red-600 dark:text-red-400 hover:underline text-sm sm:text-base lg:text-lg"
              >
                {{ chapter.name }} ajouté : {{ chapter.updated_at | date }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="flex justify-center mt-8 space-x-4">
      <button 
        (click)="previousPage()" 
        [disabled]="!hasPreviousPage()" 
        class="px-4 py-2 bg-gray-300 dark:bg-gray-700 dark:text-white text-gray-700 rounded hover:bg-gray-400 dark:hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Page Précédent
      </button>
      <button 
        (click)="nextPage()" 
        [disabled]="!hasNextPage()" 
        class="px-4 py-2 bg-gray-300 dark:bg-gray-700 dark:text-white text-gray-700 rounded hover:bg-gray-400 dark:hover:bg-gray-600 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Page Suivant
      </button>
    </div>

  </div>
</div>